.top-navigation {
	display: flex;
	align-items: center;
	gap: var(--top-navigation-links-gap);
	height: var(--top-navigation-height);
	list-style: none;
}

.top-navigation__item {
}

.top-navigation__item:nth-child(2) {
	margin-left: auto;
}

.top-navigation__link {
	color: var(--top-navigation-link-color);
	text-decoration: none;

	font-size: var(--top-navigation-link-size);
	font-weight: 300;

	transition: color .15s ease;
}

.top-navigation__link:hover {
	color: var(--top-navigation-link-color-hover);
}
