@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: var(--body-padding);

	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	line-height: var(--main-line-height);
	color: var(--main-text-color);

	background-image: var(--background-gradient);
	background-color: var(--background-fallback-color);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
